h1,
p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    font-size: larger;
}

.container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px; /* Changed */
    margin-bottom: 20px; /* Added */
}

.btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px;
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px;
}


.btn3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px;
}


.btn1:hover,
.btn2:hover,
.btn3:hover {
    background-color: #005f6b;
}

img {
    display: block;
    width: 25vh;
    margin: auto;
    margin-top: 100px;
}
